@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:wght@300;400;500;600&display=swap');
@import "tailwindcss";


* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #F4F1EA;
  color: #111111;
}

::selection {
  background-color: #1A365D;
  color: #F4F1EA;
}